<div class="desp">

    <p>
    <h1>Support us by Contribution <a href="https://hemanthrajhemu.github.io/Contribution/">Know More</a>
    </h1>
    <H1>lIKE OUR CONTENT SUPPORT US BY FOLLOWING US ON INSTAGRAM : <a
            href="https://www.instagram.com/futurevisionbie/">@futurevisionbie</a></H1>
    <h1>Latest Updates are also posted in instagram as Stories...</h1>
    <h1>For immediate Notification Join the <a href="https://telegram.me/joinchat/AAAAAFTtp8kuvCHALxuMaQ">Telegram
            Channel</a></h1>
    </p>

</div>
<br />
<br />


<div class="desp">

    <p>
        <center><big>
                <h1>8<sup>th</sup> Core Subject </h1>
            </big></center>
    <h1><span style='font-size:20px;'>&#9635;</span> 17CS81 - Internet Of Things Technology - IoT </h1>
    <h1><span style='font-size:20px;'>&#9635;</span> 17CS82 - Big Data Analytics - BDA </h1>

    </p>

</div>
<br />
<br />


<div class="desp">

    <p>
        <center><big>
                <h1>8<sup>th</sup>Elective Subjects </h1>
            </big></center>
    <h1><span style='font-size:20px;'>&#9635;</span> 17CS832 - USER INTERFACE DESIGN - UID</h1>
    <h1><span style='font-size:20px;'>&#9635;</span> 17CS834 - SYSTEM MODELLING AND SIMULATION - SMS
    </h1>


    </p>

</div>
<br />
<br />



<div class="desp">

    <p>
        <center><big>
                <h1>8<sup>th</sup>Activity Subjects</h1>
            </big></center>
    <h1><span style='font-size:20px;'>&#9635;</span>17CS84 - INTERNSHIP / PROFESSIONAL PRACTISE </h1>
    <h1><span style='font-size:20px;'>&#9635;</span>17CSP85 - PROJECT WORK PHASE II </h1>
    <h1><span style='font-size:20px;'>&#9635;</span>17CSS86 - SEMINAR</h1>


    </p>

</div>
<br />
<br />